.DS_Store

*.disasm
*.evm
*.log
*.pyc
*.report
*.json
*.sh

.DS_Store

.idea/dist/
.idea

contract_data
dist/
tmp/

current_test.pickle

bytecode
bytecode.1

!tests/contracts/*/*
web/vendor/

.vscode
__pycache__

local_test/

dataset/
dataset1/
dataset2/
defects_definition/

/.json
/draft.py
/test.py
/test_record.txt
/test_record_all_contract.txt
/test_record copy.txt
/experiment_result.txt
/requirements copy.txt